.container {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 101;
}

.floatingBtn {
    background-color: #84A8D7;
    /* серый */
    color: #2E3847;
    font-size: 16px;
    padding: 12px 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.floatingBtn:hover {
    background-color: #A6C0E2;
    transform: scale(1.05);
}

.menuList {
    position: absolute;
    bottom: 60px;
    left: 0;
    background: #D4DAE3;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 8px 0;
    list-style: none;
    width: 140px;
}

.menuLink {
    display: block;
    padding: 8px 14px;
    color: #2E3847;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.menuLink:hover {
    background-color: #f3f4f6;
}

@media (min-width: 768px) {
    .container {
        display: none;
    }
}