.menuContainer {
    position: relative;
    display: inline-block;
}

.menuButton {
    background: #84A8D7;
    color: #2E473C;

    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.menuButton:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 6px 12px #A6C0E2, inset 0 1px 3px rgba(255, 255, 255, 0.2);
}

.menuList {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    background-color: #A6C0E2;
    border: 1px solid #A6C0E2;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 6px 0;
    margin: 0;
    list-style: none;
    min-width: 180px;
    z-index: 1000;
}

.menuItem {
    margin: 0;
}

.menuLink {
    display: block;
    padding: 8px 16px;
    color: #1D3759;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.1s ease, background-color 0.2s ease, color 0.2s ease;
}

.menuItem span {
    display: inline-block;
    transition: transform 0.1s ease;
}

.menuLink:hover {
    background-color: #C9D9EE;
    border-radius: 6px;
    color: #1D3759;
    transform: translateY(2px);
}