.container {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.ip {
    width: 16em;
    height: 8em;
}

.ipTrack {
    stroke: hsl(223, 90%, 90%);
    transition: stroke 0.3s;
}

.ipWorm1,
.ipWorm2 {
    animation: worm1 2s linear infinite;
}

.ipWorm2 {
    animation-name: worm2;
}

/* Animations */
@keyframes worm1 {
    from {
        stroke-dashoffset: 0;
    }

    50% {
        animation-timing-function: steps(1);
        stroke-dashoffset: -358;
    }

    50.01% {
        animation-timing-function: linear;
        stroke-dashoffset: 358;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes worm2 {
    from {
        stroke-dashoffset: 358;
    }

    50% {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: -358;
    }
}