.name {
    color: #C2883D;
    font-size: 24px;
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 2px;

}

.userBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.logoutButton {
    background: transparent;
    border: none;
    color: #3D77C2;


    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {

    color: #32619F;
}

.navigationItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigationLink {
    text-decoration: none;
    color: #3D77C2;
    font-size: 16px;
    text-align: center;
}

.navigationLink:hover {
    color: #32619F;
}

.navigationList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.authBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.authContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}


@media (min-width: 768px) {

    .userBlock {
        flex-direction: row;

        align-items: center;
        gap: 0.5rem;

    }

    .navigationItem {
        flex-direction: row;
        align-items: center;

    }

    .navigationList {
        flex-direction: row;

        gap: 1rem;
    }

    .authBlock {
        flex-direction: row;

        gap: 1rem;
        align-items: center;
    }

    .authContainer {

        flex-direction: row;

        align-items: center;
        gap: 1rem;

    }


}