.mainContent {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.profileCard {
    width: 100%;
    max-width: 250px;
    background-color: #c8bca4;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    text-align: left;
}

.formTitle {
    font-size: 32px;
    font-weight: 700;
    color: #56280c;
    margin-bottom: 24px;
    text-align: left;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 24px auto;
}

.profileInfo {
    font-size: 18px;
    color: #56280c;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.usernameWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.usernameWrapper label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #56280c;
}

.input {
    padding: 10px 12px;
    font-size: 16px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    outline-offset: 2px;
    transition: border-color 0.2s ease;
}

.input:focus {
    border-color: #D4BDB5;
    outline: none;
}

.profileInfo p {
    margin: 0;
    font-weight: 500;
}

.saveButton {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(145deg, #845B4D, #A16F5E);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: stretch;
    text-align: center;
}

.saveButton:hover {
    transform: translateY(-2px) scale(1.02);

}

.saveButton:active {
    transform: translateY(1px) scale(0.98);

}

.cancelButton {
    padding: 8px 16px;
    font-size: 16px;
    background-color: transparent;
    color: #1e112f;
    border: 2px solid #C3A398;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.cancelButton:hover {
    background-color: #a47f73;
    color: rgb(224, 208, 196);
}

.actions {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .mainContent {
        max-width: 500px;
        padding: 32px;
    }

    .profileCard {
        max-width: 500px;
        width: 100%;
        padding: 24px;
    }


}