.mainContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.profileCard {
    max-width: 500px;
    width: 100%;
    background-color: #EEDEC9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 24px;
    text-align: left;
}

.formTitle {
    font-size: 32px;
    font-weight: 700;
    color: #27767C;
    margin-bottom: 24px;
    text-align: left;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.avatar {
    fill: #55210f;
    object-fit: cover;
}

.profileInfo {
    font-size: 18px;
    color: #113436;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.usernameWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.editProfileButton {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    background: #32989F;
    color: #113436;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editProfileButton:hover {
    transform: translateY(-2px) scale(1.02);

}

.editProfileButton:active {
    transform: translateY(1px) scale(0.98);

}