.app {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
  flex: 1;
}

.toolbar {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

}

.pageHeader {

  font-size: 16px;
  font-weight: bold;
  text-align: right;
  color: #444063;
}

.button {
  padding: 6px 12px;
  font-size: 20px;
  background: #657B9A;
  color: #f2eff5;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(184, 194, 209, 0.81), inset 0 1px 2px rgba(255, 255, 255, 0.15);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.button:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 6px 12px rgba(156, 170, 191, 0.73), inset 0 1px 3px rgba(255, 255, 255, 0.2);
}

.button:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 2px 4px rgba(184, 194, 209, 0.81), inset 0 1px 1px rgba(255, 255, 255, 0.1);
}

.floatingBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #657B9A;
  color: #f2eff5;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 100;
}

.floatingBtn:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 6px 12px rgba(156, 170, 191, 0.73), inset 0 1px 3px rgba(255, 255, 255, 0.2);
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #32619F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}