.main {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 16px 16px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #1C3759;
    margin-bottom: 60px;
    text-align: center;
}

.description {
    font-size: 18px;
    color: #32619F;
    line-height: 28px;
    margin-bottom: 16px;
}