.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    display: none;
    width: 250px;
    height: 100vh;

    padding: 16px;
    box-sizing: border-box;
    flex-shrink: 0;

}

.notesWrapper {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        display: block;
        border-right: 2px solid rgba(39, 76, 124, 0.41);
        top: 0;
        left: 0;
        height: auto;
    }

    .notesWrapper {
        width: 100%;
    }
}