.main {
    flex: 1;
}

.container {
    width: 50%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 16px 16px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #274C7C;
    margin-bottom: 60px;
    text-align: center;
}