.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #f2eff5;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar {
    display: none;
    width: 250px;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuItem {
    margin-bottom: 16px;
}

.menuLink {
    text-decoration: none;
    color: #3D77C2;
    font-size: 20px;
    font-weight: 800;
    display: block;
    padding: 8px 16px;
    transition: transform 0.1s ease, background-color 0.2s ease, color 0.2s ease;

}

.menuLink span {
    display: inline-block;
    transition: transform 0.1s ease;
    font-size: 30px;
    font-weight: 800;
    color: #3D77C2;
}

.menuLink:hover {

    border-radius: 6px;

    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 6px 12px #A6C0E2, inset 0 1px 3px rgba(255, 255, 255, 0.2);
}

.menuLink:active {
    color: #274C7C;
}


.createButton {
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    background: #608FCD;
    color: #f2eff5;
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(255, 255, 255, 0.15);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.createButton:hover {
    transform: translateY(-2px) scale(1.02);
    background: #608FCD;
}

.createButton:active {
    transform: translateY(1px) scale(0.98);
    background: #608FCD;
    ;
}

.mainContent {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}


@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;

    }

    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;

    }

    .sidebarContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }

    .mainContent {
        margin-left: 250px;
    }
}